<div class="col-md-3 mb-2">
  
        <img class="img-thumbnail" src="@GamesData?.header_image" />
        <div class="card-body">
            <p class="card-text">
                 <a href="/GameNewsInfo/@GamesData?.appid">
                    <b>@GamesData?.name</b>
                 </a>
            </p>
            <p>
                @((MarkupString)GamesData?.detailed_description)
            </p>
        </div>
</div>

@code {
    [Parameter]
    public GameRecordDetails? GamesData { get; set; }
}
